body {
  /*background-color:   #EEEEEE;*/
  font-family:      monospace;
  background-image: url("images/yyf_d_vr38dett.png");
  background-repeat: no-repeat;
  background-size: 850px 600px;
  background-attachment: fixed;
}
.title {
  font-family:  monospace;
  font-weight:  bold;
  color:        #000;
  font-variant: small-caps;
  font-size:    32px;
  float:        left;
  margin-top:   0.2in;
}
.title sub {
  font-size:    16px;
}
#thumbnails {
  float: right;
}
.thumbnail {
  width:  640px;
  height: 480px;
  margin-top: 0.5in;
  background-color: #D2D7D3;
}
#explicit {
  bottom:0px;
  right:0px;
  margin-right: 10px;
  margin-bottom: 10px;
  position:fixed;
}
